{% extends 'food_delivery/food_delivery_base.html' %}
{% load static %}

{% block title %}
    {{ block.super }} {{ store.name }} menu
{% endblock %}

{% block page_title %}
    {{ block.super }} {{ store.name }} menu
{% endblock %}

{% block external_js_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/restaurant.css' %}">
{% endblock %}

{% block content %}
    <div class="mainFrame">
        <div class="mainInfoFrame">
            <div class="avatarShop">
                <img src="{{ store.store_thumbnail.url }}">
            </div>
            <div class="infoShop">
              <div class="frameName">
                <p class="nameShop">{{ store.name }}</p>
               <div class=frameRating> <p class="nameShop" >4<i class="small material-icons" style="font-size:45px; padding-bottom: 2px; color: gold;">star</i></p></div>
              </div>
                <li class="divider" style="background-color: #340068;" tabindex="1"></li>
                <p class="description" style="font-size: 20px;">Понять ценностное предложение этого бренда совсем несложно. Чем один вид шоколада может отличаться от другого? M&M смогли выделить свой продукт на фоне конкурентов – их шоколад не тает в руках.</p>
                <p class="description address" ><i class=" small material-icons">location_on</i> {{ store.main_place }}</p>
            </div>
        </div>

        <div class="containerFood">
        <div class="frameFood">
                        {% for product in products %}

            <div class="cardFood">
                <div class="card hoverable" style="border-radius: 40px;">
                  <div class="card-image" style="border-radius: 40px;">

                    <img class="picFood" src="{% static 'img/sample-pasta-2.jpg' %}"  alt="Food" style="border-top-right-radius: 40px; border-top-left-radius: 40px;">

                    <a class="btn-floating halfway-fab waves-effect waves-light" style="background-color: #EF798A "><i class="material-icons">add</i></a>
                  </div>
                  <div class="card-content">
                    <span class="card-title">{{ product.name }}</span>
                    <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                  </div>
                  <p class="price">{{ product.price }}</p>
                </div>
              </div>
{% endfor %}

          <!--    <div class="cardFood">
                  <div class="card hoverable" style="border-radius: 40px;">
                    <div class="card-image" style="border-radius: 40px;">
                      <img class="picFood" src="{% static 'img/sample-pasta-2.jpg' %}"  alt="Food" style="border-top-right-radius: 40px; border-top-left-radius: 40px;">

                      <a class="btn-floating halfway-fab waves-effect waves-light" style="background-color: #EF798A "><i class="material-icons">add</i></a>
                    </div>
                    <div class="card-content">
                      <span class="card-title">{{ product.name }}</span>
                      <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                    </div>
                    <p class="price">{{ product.price }}</p>
                  </div>
                </div>
                <div class="cardFood">
                    <div class="card hoverable" style="border-radius: 40px;">
                      <div class="card-image" style="border-radius: 40px;">
                        <img class="picFood" src="{% static 'img/sample-pasta-2.jpg' %}"  alt="Food" style="border-top-right-radius: 40px; border-top-left-radius: 40px;">

                        <a class="btn-floating halfway-fab waves-effect waves-light" style="background-color: #EF798A "><i class="material-icons">add</i></a>
                      </div>
                      <div class="card-content">
                        <span class="card-title">{{ product.name }}</span>
                        <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                      </div>
                      <p class="price">{{ product.price }}</p>
                    </div>
                  </div>



          <div class="cardFood">
                <div class="card hoverable" style="border-radius: 40px;">
                  <div class="card-image" style="border-radius: 40px;">
                    <img class="picFood" src="{% static 'img/sample-pasta-2.jpg' %}"  alt="Food" style="border-top-right-radius: 40px; border-top-left-radius: 40px;">
                    
                    <a class="btn-floating halfway-fab waves-effect waves-light" style="background-color: #EF798A "><i class="material-icons">add</i></a>
                  </div>
                  <div class="card-content">
                    <span class="card-title">{{ product.name }}</span>
                    <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                  </div>
                  <p class="price">{{ product.price }}</p>
                </div>
              </div>
!-->
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <script>
      $(document).ready(function(){
        $('.sidenav').sidenav();
        $('.materialboxed').materialbox();
        $('.parallax').parallax();
        $('.tabs').tabs();
      });
    </script>
    <script>
         $('.dropdown-trigger').dropdown({
  
    });
    </script>
    {% endblock %}
  </body>
</html>