{% extends 'food_delivery/food_delivery_base.html' %}
{% load static %}


{% block external_js_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/signup.css' %}">
    <script id="get_address_url" type="application/json">{"url": "{% url 'get_address_by_address_url' %}"}</script>
    <script src="{% static 'script/address_getter.js' %}" type="text/javascript"></script>
{% endblock %}

{% block title %}
    {{ block.super }} Store creating
{% endblock %}

{% block page_title %}
    {{ block.super }} Store creating
{% endblock %}


{% block content %}
    <div id="signUpFrame">
        <div id="signUpSubframe">
            <p id="signupText">Create store</p>
            <form enctype="multipart/form-data" action="{% url 'store_create_url' %}" method="post">
                {% csrf_token %}

                {% for field in general_form %}
                    {% if field.html_name != 'store_thumbnail' and field.html_name != 'address' %}
                        <div>
                            {% if field.errors %}
                                <div class='input_placement input_error'>
                                    {{ field.errors }}
                                </div>
                            {% endif %}

                            {{ field }}
                        </div>
                    {% endif %}
                {% endfor %}

                <div>
                        {% if general_form.address.errors %}
                            <div class='input_placement input_error'>
                                {{ general_form.address.errors }}
                            </div>
                        {% endif %}
                        {{ general_form.address }}
                        <ul class="addressesList input_placement"></ul>
                    </div>
    

                <div class="input input_placement" id="app">
                    <div class="upload-btn-wrapper">
                        <button class="btn btn-submit">Upload an image</button>
                        <input type="file" style="height: 50px; width: 400px;"
                               name="store_thumbnail"
                               placeholder="store image"
                               accept="image/*"
                               onchange="previewFile()"
                               id="id_store_thumbnail"  v-on:click="upload()"/>
                    </div>
                    <img class="upImg" v-if="downloaded"  src="" height="200" alt="Image preview...">
                </div>
               
                <button type="submit" class="waves-effect waves-light signUpButton">SUBMIT</button>
            </form>
        </div>
    </div>
    <script src="https://unpkg.com/vue"></script>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                downloaded: false,
            },
            methods: {
                upload: function() {
                    this.downloaded = true;
                    console.log("uploaded");
                }
            },
        });
    </script>
    <script>
            function previewFile(){
                var preview = document.querySelector('img'); //selects the query named img
                var file    = document.querySelector('input[type=file]').files[0]; //sames as here
                var reader  = new FileReader();
         
                reader.onloadend = function () {
                    preview.src = reader.result;
                }
         
                if (file) {
                    reader.readAsDataURL(file); //reads the data as a URL
                } else {
                    preview.src = "";
                }
           }
         
           previewFile();  //calls the function named previewFile()
    </script>
{% endblock %}