{% extends 'food_delivery/food_delivery_base.html' %}
{% load static %}

{% block title %}
    {{ block.super }} Stores
{% endblock %}

{% block page_title %}
    {{ block.super }} Stores
{% endblock %}

{% block external_js_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/catalog.css' %}">
{% endblock %}

{% block content %}
    <div class="mainFrame">
        <div class="title">
            <p>Catalog</p>
        </div>
        <div class="contentBox">

            {% for store in stores %}
                <div class="rest_card">
                    <div class="storeLogo">
                        <a href="{{ store.slug }}/"> <img src="{{ store.store_thumbnail.url }}" alt="logo">
                       </a>
                    </div>
                    <div class="bla">
                        <div class="name_def">
                            <p class="name">

                                <a href="{{ store.slug }}/">{{ store.name }}</a>
                            </p>
                            <p class="def">
                                {{ store.main_place }}
                            </p>
                        </div>
                        <div class="rating">
                            <p class="num_of_star">
                                4
                            </p>
                            <img src="{% static '/icons/content/star.png' %}" class="star" alt="Stars">
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>
{% endblock %}