{% extends 'food_delivery/food_delivery_base.html' %}
{% load static %}

{% block title %}
    {{ block.super }} Stores managing
{% endblock %}

{% block page_title %}
    {{ block.super }} Stores managing
{% endblock %}

{% block external_js_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/catalog.css' %}">
{% endblock %}

{% block content %}
    <div class="mainFrame">
        <div class="title">
            <p>Your stores</p>
        </div>
        <div class="stores-box">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" style="width: 256px; height: 256px"
                         src="{% static 'img/receiving-shipping-box-on-ipad.jpg' %}">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Card Title<i
                            class="material-icons right">more_vert</i></span>
                    <p><a href="#">This is a link</a></p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
                </div>
            </div>

        </div>
    </div>
{% endblock %}