{% extends 'food_delivery/food_delivery_base.html' %}
{% load static %}

{% block title %}
    {{ block.super }} Create order
{% endblock %}

{% block page_title %}
    {{ block.super }} Create order
{% endblock %}

{% block external_js_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/orders.css' %}">
    <script id="get_address_url" type="application/json">{"url": "{% url 'get_address_by_address_url' %}"}</script>
    <script src="{% static 'script/address_getter.js' %}" type="text/javascript"></script>
{% endblock %}

{% block content %}
    <div class="mainFrame">
        <div class="title">
            <p>Create order</p>
        </div>
        <div class="contentBox">
            <div class="itemsList" id="itemsList">

                <!-- JS Dynamic objects here-->
                {% for product in products %}
                    <div class='productLine' id='minDiv'>
                        <button class='minusBut'
                                onclick="clickMin(this, '{{ product.product }}', '{{ product.quantity }}')">
                            <img src="{% static 'img/icons/minus.png' %}" alt="remove">
                        </button>
                        <div class='socksLine'>
                            <p class='socks'>{{ product.product }}</p>
                            <p class='priceItem'>{{ product.quantity }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="formsBox">
                <div class="iconInput shopForm">
                    <div class="icon">
                        <img src="{% static 'img/icons/online_store.png' %}" alt="Shop icon">
                    </div>
                    <div class="inputBox">
                        <form action="{% url 'order_create_url' %}" method="post" id="create-order">
                            {% csrf_token %}
                            {% if error %}
                                <div>
                                    {{ error }}
                                </div>
                            {% endif %}
                            <label>
                                {% if form.store_name.errors %}
                                    <div>
                                        {{ form.store_name.errors }}
                                    </div>
                                {% endif %}
                                <input class="dka-input" name="{{ form.store_name.name }}"
                                       type="text" placeholder="store name" id="{{ form.store_name.id_for_label }}">
                            </label>
                            <label>
                                {% if form.store_address.errors %}
                                    <div>
                                        {{ form.store_address.errors }}
                                    </div>
                                {% endif %}
                                <input class="dka-input" name="{{ form.store_address.name }}"
                                       type="text" placeholder="store address"
                                       id="{{ form.store_address.id_for_label }}">
                            </label>
                            <label>
                                {% if form.destination_address.errors %}
                                    <div>
                                        {{ form.destination_address.errors }}
                                    </div>
                                {% endif %}
                                <input class="dka-input" name="{{ form.destination_address.name }}"
                                       type="text" placeholder="where to deliver address"
                                       id="{{ form.destination_address.id_for_label }}"
                                       value="{{ user.address.display_full }}">
                            </label>
                        </form>
                    </div>
                </div>
                <div class="iconInput itemForm">
                    <div class="icon">
                        <img src="{% static 'img/icons/groceries.png' %}" alt="Shop icon">
                    </div>
                    <div class="inputBox">
                        <form id="plusDiv" action="">
                            <label>
                                <input class="dka-input" name="product" id="product" type="text" placeholder="product">
                            </label>
                            <label>
                                <input class="dka-input" name="quantity" id="quantity" type="text"
                                       placeholder="quantity">
                            </label>
                            <div class="plusButton">
                                <button type="button" class="plusImg"
                                        onclick="clickPlus(document.getElementById('plusDiv'))">
                                    <img src="{% static 'img/icons/plus.png' %}" alt="add">
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <button type="submit" form="create-order" class="waves-effect waves-light submitButton">SUBMIT</button>
    </div>

    <script charset="UTF-8">
        function clickMin(button, product, quantity) {
            let req = new XMLHttpRequest();

            let productInfo = JSON.stringify({
                'product': product,
                'quantity': quantity
            });

            req.onreadystatechange = function () {
                if (req.readyState === 4) {
                    if (req.status === 200) {
                        button.parentNode.remove();
                    }
                }
            };

            req.open("POST", "{% url 'order_item_remove' %}", true);
            req.setRequestHeader('Content-type', 'application/json; charset=utf-8');
            req.send(productInfo);
        }

        function clickPlus(plusDiv) {
            let req = new XMLHttpRequest();

            let product = plusDiv.product.value.replace(/'/g, '"');
            let quantity = plusDiv.quantity.value.replace(/'/g, '"');

            let escapedProduct = product.replace(/"/g, '&quot;');
            let escapedQuantity = quantity.replace(/"/g, '&quot;');

            let productInfo = JSON.stringify({
                'product': product,
                'quantity': quantity
            });

            req.onreadystatechange = function () {
                if (req.readyState === 4) {
                    if (req.status === 200) {
                        let newDiv = document.createElement("div");
                        newDiv.innerHTML = "<div class=\"productLine\" id=\"minDiv\">\n" +
                            "<button class=\"minusBut\" " +
                            "onclick=\"clickMin(this, '" + escapedProduct + "', '" + escapedQuantity + "')\">\n" +
                            "<img src=\"{% static 'img/icons/minus.png' %}\">\n" +
                            "</button>\n" +
                            "<div class='socksLine'>\n" +
                            "<p class='socks'>" + product + "</p>\n" +
                            "<p class='priceItem'>" + quantity + "</p>\n" +
                            "</div>\n" +
                            "</div>\n";
                        document.getElementById("itemsList").appendChild(newDiv);
                    }
                }
            };

            req.open("POST", "{% url 'order_item_add' %}", true);
            req.setRequestHeader('Content-type', 'application/json; charset=utf-8');
            req.send(productInfo);
        }
    </script>
{% endblock %}