{% extends 'food_delivery/food_delivery_base.html' %}
{% load static %}

{% block title %}
    {{ block.super }} Orders
{% endblock %}

{% block page_title %}
    {{ block.super }} Orders
{% endblock %}

{% block external_js_css %}
    <!-- CSS files -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/orders.css' %}">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <!-- JavaScript scripts -->
    <script src="{% static 'script/vue.js' %}"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
{% endblock %}

{% block content %}
    <div id="app">
        <div class="mainFrame">
            <div class="title">
                <p>Available Orders</p>
            </div>
            <div class="availableOrdersListFrame">

                {% for order, products in orders %}
                    <div class="availableOrder" v-bind:style="{ height: computedHeight }" v-on:click="viewOrder">
                        <!-- Collapsed -->
                        <div class="availableOrderText">
                            <p class="availableOrderId">#{{ order.orderID }}</p>
                            <p class="availableOrderName">{{ order.store_address }}</p>
                        </div>
                        <div class="availableOrderShortcutsFrame">
                            <div class="shortcutElement">
                                <div class="shortcutImgShop"></div>
                                <p class="shortcutInfo">Soon</p>
                            </div>
                            <div class="shortcutElement">
                                <div class="shortcutImgMap"></div>
                                <p class="shortcutInfo">Soon</p>
                            </div>
                            <div class="shortcutElement">
                                <div class="shortcutImgMoney"></div>
                                <p class="shortcutInfo">Soon</p>
                            </div>
                        </div>
                        <!-- Expanded -->
                        <div class="detailInfoFrame" v-if="opened">
                            <div class="leftInfoFrame">
                                <div class="infoLineFrame">
                                    <p class="infoLineTitle">Customer:<a class="infoLineValue">{{ order.customer }}</a>
                                    </p>
                                    <p class="infoLineDetail">rating: soon</p>
                                </div>
                                <div class="infoLineFrame">
                                    <p class="infoLineTitle">Shop:<a class="infoLineValue">"{{ order.store }}"</a></p>
                                    <p class="infoLineDetail">address: {{ order.store_address.display_full }}</p>
                                </div>
                                <div class="infoLineFrame">
                                    <p class="infoLineTitle">Destination: <a
                                            class="infoLineValue"></a></p>
                                    <p class="infoLineDetail">address: {{ order.destination_address.display_full }}</p>
                                </div>
                                <div class="infoLineFrame" style="height: 15%">
                                    <p class="infoLineTitle">Profit:<a id="infoProfitValue">Soon</a></p>
                                </div>
                            </div>
                            <div class="divideLine"></div>
                            <div class="rightInfoFrame">
                                <div class="tableFrame">
                                    <div class="tableRowFrame">
                                        <div class="columnNameFrame"><p id="columnTitle">Name</p></div>
                                        <div class="columnQuantityFrame"><p id="columnTitle">Quantity</p></div>
                                        <div class="columnPriceFrame"><p id="columnTitle">Price</p></div>
                                    </div>
                                    {% for product in products %}
                                        <div class="tableRowFrame">
                                            <div class="columnNameFrame"><p id="columnValue">{{ product.product }}</p>
                                            </div>
                                            <div class="columnQuantityFrame"><p
                                                    id="columnValue">{{ product.quantity }}</p></div>
                                            <div class="columnPriceFrame"><p id="columnValue"></p></div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>

                            <div class="plusButton">
                                {% if not user_orders %}
                                    <form>
                                        {% csrf_token %}
                                        <button type="button"
                                                onclick="takeOrderWithID({{ order.orderID }})"
                                                style="color: #EF798A"
                                                class="btn-floating btn-large waves-effect waves-light red lighten-1">
                                            <i class="material-icons">add</i>
                                        </button>
                                    </form>
                                {% endif %}
                            </div>

                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
    </div>
    <script src="{% static 'script/orders.vue' %}"></script>
    <script type="text/javascript">
        function takeOrderWithID(id) {
            const form = new FormData();
            form.append("order_id", id);
            form.append("csrfmiddlewaretoken", '{{ csrf_token }}');
            const request = new XMLHttpRequest();
            request.open("POST", "{% url 'orders_view_url' %}");
            request.send(form);
            window.location.reload();
        }
    </script>
{% endblock %}