.title {
    /* Available Orders */
    margin-bottom: 20px;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: normal;
    text-align: center;

    color: #EF798A;

    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}

.contentBox {
    display: flex;
    flex-wrap: nowrap;
}

.rest_card {

    margin-right: 31px;

    margin-bottom: 21px;
    width: 270px;
    height: 190px;

    display: block;
    background-color: #FFFFFF;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;

    line-height: normal;


}

.name {
    color: #513556;
    font-size: 20px;

    margin-top: 6px;
    margin-bottom: 6px;
    width: 220px;
    height: 23px;
}

.def {
    width: 170px;
    height: 20px;
    font-size: 10px;
    color: #28054A;
}

.rating {
    font-family: Robotoб sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    display: flex;
    margin-left: 15px;

    color: #000000;
}

.star {
    width: 14px;
    height: 14px;
    margin-top: 12px;
}

.num_of_star {
    margin-top: 14px;
    margin-right: 2px;
}

.bla {
    display: flex;
}