.header{
    position: relative;
    height: 62px;
    background: #EF798A;
}

.logo{

    width: 70%;
    height: 36px;

    font-family: Roboto, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 29px;
    line-height: normal;
    letter-spacing: 0.1em;

    color: #FFFFFF;
}

.navbar{

    height: 100%;
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.createOrderButton{
   
    width: 190px;
    height: 40px;
    top: -3px;

    background: #17F1DF;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    outline: none;

    text-align: center;
    margin-right: 20px;
    margin-left: 20px;
}

.headerText {
    font-size: 22px;
    font-weight: 400;
    color: #FFFCF9;
}

.blueShadow {
    text-shadow: 2px 0 0 #242038, -2px 0 0 #242038, 0 2px 0 #242038, 0 -2px 0 #242038,
    1px 1px #242038, -1px -1px 0 #242038, 1px -1px 0 #242038, -1px 1px 0 #242038;
}

.signIn{
    flex: 1 0 0;
    
    width: 78px;
    height: 28px;
}

.signUp{
    width: 78px;
    height: 28px;
}

.catalog {
    
    width: 78px;
    height: 28px;
}

.deliver{
   
    width: 120px;
    height: 28px;
}


.profile{
    
    width: 120px;
    height: 28px;
    margin: 6px;
    text-align: center;
}


