@import url("https://fonts.googleapis.com/css?family=Roboto");
/* CSS header */
@import "header.css";

body {
    margin: 0;
    font-family: Roboto, sans-serif;
}

.mainFrame{
    display: flex;
    flex-direction: column;

    width: 75%;
    margin: 0 auto;

    /* background-color: #340068; */
}

.mainBlock{
    width: 100%;
    height: 380px;
    margin-top: 10%;
    display: flex;
    flex-direction: row;
}

.picMain{
    width: 470px;
    height: 374px;
    border-radius: 10px;
}

.picMain img {
    width: 100%;
    height: 100%;
}

.sloganFrame{
    margin-left: 10%;
    width: 470px;
    height: 374px;
}

.slogan{
    width: 555px;
    height: 106px;
    margin-top: 1px;
    /*font-family: Roboto, sans-serif;*/
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: normal;

    color: #274c77;
}

.slogan2{
    width: 537px;
    height: 59px;

    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: normal;
    
    color: #C4C4C4;
}

.buttonsFrame{
    position: relative;
    margin-top: 5%; 
    top: 5%;
    width: 580px;
    height: 70px;
    display: flex;
}

.createOrderButton2{
    width: 268px;
    height: 56px;
    margin-left: 2%;

    background: #EF798A;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    outline: none;

    text-align: center;
    line-height: 56px;
}

.deliverButton {

    width: 270px;
    height: 56px;

    background: #B1EDE8;
    box-sizing: border-box;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    outline: none;

    text-align: center;
    line-height: 56px;
}


.createOrderButton2Text{

    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;

    color: #FFFFFF;

}

.deliverText{

    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;

    color: #340068;

}

.linkTutorial{
    position: relative;
    margin-top: 12%;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: normal;
    letter-spacing: 0.05em;
    text-decoration-line: underline;

    color: #340068;

}

.tutorialFrame{
    width: 80%;
    height: 847px;
    margin: 20% auto 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tabBlock{
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: 770px;
    height: 100%;
}

.stepCard{
    position: relative;
    width: 770px;
    height: 180px;
    left: calc(50% - 358px);
    background: #FFFFFF;
    border: 0.5px solid #C4C4C4;
    box-sizing: border-box;
    box-shadow: 3px 4px 8px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    margin-top: 10%;
    margin-bottom: 5%;

    display: flex;
}

.numCard{
    width: 15%;
    height: 100%;

    justify-content: center;
    display: flex;
    align-items: center;
}

.textCard{
    width: 60%;
    height: 100%;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#authFrame{
    width: 380px;
    height: 600px;
    margin: 200px auto 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.authText {
    width: 85px;
    height: 47px;
}


.authHeader {

    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: normal;

    color: #340068;
}

.authInput{
    /* Rectangle */
    position: relative;
    width: 202px;
    height: 33px;
    left: 64px;
    top: 155px;
    margin-top: 15px;

    background: #B1EDE8;
    border-radius: 4px;
    border: 1px black;
    outline: none;

    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: normal;
    text-align: center;
    
}

.authButtonWrapper {
    margin-top: 15px;
    text-align: center;
}

.authButton {
    width: 268px;
    height: 56px;

    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: normal;

    color: #FFFFFF;

    background: #EF798A;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    border: none;
}

#authButtonText{

    position:relative;
    width: 201px;
    height: 42px;
    left: calc(50% - 94px);

    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: normal;

    color: #FFFFFF;
}

.authPaintFrame{

    width: 149px;
    height: 136px;

}

.authPaintEllipse{
    width: 147px;
    height: 136px;

    border-radius: 50%;
    background: #c4c4c4;
}

#authPaintHead{
    position: relative;
    width: 41px;
    height: 40px;
    left: 37%;
    top: 20px;

    border-radius: 50%;
    background: #FFFFFF;
}

#authPaintBody{
    position: relative;
    width: 69px;
    height: 83px;
    left: -14px;
    top: 40px;

    border-radius: 100%/100%;
    background: #FFFFFF;
}

.authSignUpLink {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: normal;

    color: #340068;
}

/*  Technical styles  */

.dka-ml-1 {
    margin-left: 1em;
}
