@import url("https://fonts.googleapis.com/css?family=Roboto");

.title {
/* Available Orders */

    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: normal;
    text-align: center;

    color: #EF798A;

    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}

.availableOrdersListFrame {

    width: 100%;
    height: 704px;
    top: 100px;

    background: #FFFFFF;
}

.availableOrder{

    height: 83px;
    left: 0;
    margin-top: 16px;

    box-shadow: 0 4px 20px rgba(27, 21, 21, 0.25), 0 7px 12px rgba(0, 0, 0, 0.25);
}

.availableOrder:hover{
    background: #F0FFFF;
}

.availableOrderText{
    position: relative;
    width: 40%;
    height: 76px;
    left: 2px;
    top: 0;
    float: left;
}

.availableOrderId{

    position: relative;
    width: 65px;
    height: 15px;
    left: 4px;
    top: -4px;

    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: normal;
    text-align: center;
    
    color: #919090;
    
}

.availableOrderName {

    position: relative;
    width: 100%;
    height: 30px;
    left: 10px;
    top: -15px;

    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: normal;
    text-align: left;
    
    color: #340068;

}

.availableOrderShortcutsFrame {
    position: relative;
    width: 60%;
    height: 78px;
    right: 2px;
    top: 2px;
    float: left;
}

.shortcutElement {
    position: relative;
    width: 33%;
    height: 100%;
    top: 0;
    left: 2px;
    right: 2px;
    float: left;

    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: normal;
    text-align: center;

    color: #000;
}

.shortcutImgShop {
    position: relative;
    width: 40px;
    height: 40px;
    left: 0;
    top: 20px;
    float: left;

    background: url(../img/icons/icons8-shop-480.png);
    background-size: contain;

}

.shortcutImgMap {
    position: relative;
    width: 40px;
    height: 40px;
    left: 0px;
    top: 20px;
    float: left;

    background: url(../img/icons/icons8-treasure-map-80.png);
    background-size: contain;

}

.shortcutImgMoney {
    position: relative;
    width: 40px;
    height: 40px;
    left: 0;
    top: 20px;
    float: left;

    background: url(../img/icons/icons8-cash-in-hand-80.png);
    background-size: contain;

}


.shortcutInfo {
    position: relative;
    width:  60px;
    height: 40px;
    left: 5px;
    top: 2px;
    float: left;

    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: normal;

    color: #000000;
}

.detailInfoFrame{
    /* position: relative; */
    width: 92%;
    height: 300px;
    left: 5%;
    top: 20%;
    margin-left: 5%;
    display: flex;

    /* background-color: aquamarine; */
}

.leftInfoFrame{
    position: relative;
    width: 49%;
    height: 100%;
    flex-direction: row;
    /* float: left; */

    /* background-color: antiquewhite; */
}

.divideLine{
    position: relative;
    width: 3px;
    height: 100%;
    /* float: left; */

    background-color: #340068;
}

.rightInfoFrame{
    position: relative;
    width: 40%;
    height: 100%;
    /* float: left; */

    /* background-color: antiquewhite; */
}

.infoLineFrame{
    position: relative;
    width: 92%;
    height: 23%;   
    margin-top:10px;

    /* background-color: orange; */
    border-bottom: 1px solid #919090;
}

.infoLineTitle{
    position: relative;
    width: 100%;
    height: 30px;
    /* float: left; */
    /* left: 249px; */

    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: normal;
    text-align: left;
    margin-top: 0;
    margin-bottom: 5px;

    color: #340068;
}

.infoLineValue{
    position: relative;
    width: 70%;
    height: 30px;
    padding-left: 30px;

    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: normal;
    text-decoration-line: underline;

    color: rgba(52, 0, 104, 0.5);
}

.infoLineDetail{
    position: relative;
    width: 100%;
    height: 28px;
    margin-top: 0;
    /* top: 729px; */

    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: normal;
    text-align: left;

    color: #B1EDE8;

}

.infoProfitValue {
    position: relative;
    width: 70%;
    height: 100%;
    padding-left: 30px;

    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: normal;

    color: #00FFC5;

}

.tableFrame {
    position: relative;
    width: 93%;
    height: 100%;
    left: 10%;

    /* background-color: olivedrab; */
}

.tableRowFrame{
    position: relative;
    width: 100%;
    height: 35px;
    display: flex;

    /* background-color: orange; */
    margin: 0;
    border-bottom: 1px solid #919090;
}

.columnNameFrame {
    flex-direction: row;
    height: 100%;
    width: 40%;

    /* background-color: #340068; */

}

.columnQuantityFrame {
    flex-direction: row;
    height: 100%;
    width: 28%;
    /* background-color: blue; */
}

.columnPriceFrame {
    flex-direction: row;
    height: 100%;
    width: 25%;
    /* background-color: green; */
}

.columnTitle {
    height: 100%;
    width: 100%;

    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: normal;
    text-align: center;

    color: rgba(52, 0, 104, 0.7);
}

.columnValue {
    height: 100%;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 2px;
    vertical-align: middle;

    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: normal;
    text-align: center;

    color: rgba(52, 0, 104, 0.4);
}

/* Specific for orders creating */

.plusImg {
    position: absolute;
    margin-left: 345px;
    margin-top: -30px;
    outline: none;
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
}

.plusImg:hover {
    background: rgba(0, 0, 0, 0);
}

.plusImg:focus {
    background: rgba(0, 0, 0, 0);
}


.contentBox {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.itemsList {
    width: 50%;
    background-color: #b9f5ed;
    border-radius: 20px;
    height: 400px;
    display: block;
}

.productLine {
    display: flex;
}

.socksLine {
    width: 80%;
    height: 45px;
    margin-top: 15px;
    margin-left: 21px;
    background: #FFFFFF;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    display: flex;
}

.socks {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 29px;
    width: 80%;
    margin: 10px 60px;
    color: #000000;
}

.minusBut {
    width: 28px;
    height: 24px;
    margin-left: 26px;
    margin-top: 27px;
    outline: none;
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
}

.priceItem {
    height: 20px;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: normal;
    text-align: center;
    margin-top: 16px;
    color: #919090;
    margin-right: 20px;
}

.priceItem2 {
    width: 90px;
    height: 20px;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: normal;
    text-align: center;
    margin-top: 16px;
    color: #919090;
    margin-left: 50px;
}

.formsBox {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    width: 50%;
}

.iconInput {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    padding-left: 20px;
    height: 200px;
}


.inputBox {
    width: 25em;
}

form {
    display: flex;
    flex-flow: column nowrap;
}

.dka-input input:not([type]),
input[type=text]:not(.browser-default),
input[type=password]:not(.browser-default),
input[type=email]:not(.browser-default),
input[type=url]:not(.browser-default),
input[type=time]:not(.browser-default),
input[type=date]:not(.browser-default),
input[type=datetime]:not(.browser-default),
input[type=datetime-local]:not(.browser-default),
input[type=tel]:not(.browser-default),
input[type=number]:not(.browser-default),
input[type=search]:not(.browser-default),
textarea.materialize-textarea {

    background: #B1EDE8;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    border: none;

    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    height: 38px;
    line-height: normal;

    padding-left: 10px;
    margin: 7px 0 7px 0;

}

.dka-input::placeholder {
    color: #587d78;
    left: 50px;
}

.dka-input:focus {
    color: #293732;
}


.icon {
    margin-right: 20px;
    width: 82px;
    height: 82px;
}

.main_info {

    display: block;
    margin-left: 300px;
    height: 210px;
    margin-top: 28px;
}

.cards {
    display: flex;
}

.address_card {
    width: 270px;
    height: 169px;
    background-color: #F2C44A;
    border-radius: 12px;

}

p.address {
    margin-top: 13px;
    margin-bottom: 15px;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: normal;
    text-align: center;

    color: #FFFFFF;


}

p.address_info {
    margin: 7px;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: normal;

    color: #FFFCF9;
}

.bank_card {

    margin-left: 27px;
}

.button {
    margin-left: 150px;
    margin-top: 44px;
    background-color: #EF798A;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    width: 268px;
    height: 56px;

}

a.text {
    padding: 10px 79px 10px 76px;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: normal;
    color: #FFFFFF;
    text-align: center;
    display: block;
    text-decoration: none;
}

.submitButton {

    position: relative;
    width: 268px;
    height: 56px;
    left: calc(50% - 134px);
    margin-top: 10px;

    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: normal;

    color: #FFFFFF;

    background: #EF798A;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    border: none;

}

.submitButton:hover {
    background: #D86979;
}

.submitButton:focus {
    background: #c36767;
}
