.mainInfoFrame{
    position: relative;
    display: flex;
    width: 100%;
    height: 210px;
    /* left: 168px; */
    top: 50px;

    /* background-color: green */

}

.fullnameFrame{
    position: relative;
    width: 47%;
    height: 168px;
    left: 0;
    top: calc((100% - 168px)/2);

    background: #E6F9AF;
    border-radius: 12px;
}

.userPicEllipse{
    position: relative;
    width: 141px;
    height: 141px;
    left: 3%;
    top: 10%;
    float: left;

    border-radius: 100%;
    background: #C4C4C4;
}

.userPicBody{
    position: relative;
    width: 69px;
    height: 65px;
    left: calc(50% - 35px);
    top: 35px;

    border-radius: 100%;
    background: #FFFCF9;
}

.userPicHead{
    position: relative;
    width: 41px;
    height: 41px;
    left: calc(50% - 20px);
    top: 35px;

    border-radius: 100%;
    background: #FFFCF9;
}

.fullnameTextFrame{
    position: relative;
    width: 60%;
    height: 136px;
    left: 8%;
    right: 5%;
    top: 10%;
    float: left;

    /* background: #C4C4C4; */
}

.fullnameText{
    position: relative;
    width: 100%;
    height: 41px;
    margin-top: 0;
    margin-bottom: 5px;

    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 2vw;
    line-height: normal;

    color: #340068;
}

.emailText{
    width: 100%;
    height: 30px;
    margin-top: 15px;
    margin-bottom: 5px;

    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 1vw;
    line-height: normal;

    color: rgba(52, 0, 104, 0.7);
}

.telegramLink{
    width: 100%;
    height: 20px;
    /* left: 370px;
    top: 266px; */
    margin-top: 10px;

    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 1.1vw;
    line-height: normal;
    text-decoration-line: underline;

    color: #3C2FCC;
}

.addressFrame{
    position: relative;
    width: 25%;
    height: 169px;
    float: left;
    left: 20px;
    top: calc((100% - 168px)/2);

    background: #F2C44A;
    border-radius: 12px;
}

.addressTitle{
    position: relative;
    width: 100%;
    height: 27px;
    /* left: 815px; */
    /* top: 50px; */
    margin-top: 10px;
    margin-bottom: 6px;

    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 1.2vw;
    line-height: normal;
    text-align: center;

    color: #FFFFFF;
}

.addressText{
    width: 100%;
    height: 19px;
    margin-top: 8px;
    margin-bottom: 5px;
    margin-left: 15px;

    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 0.9vw;
    line-height: normal;
    text-align: left;

    color: #FFFCF9;
}

.cardFrame{
    position: relative;
    width: 25%;
    height: 169px;
    float: left;
    margin-left: 40px;
    top: calc((100% - 168px)/2);

    background:#2D5B99;
    border-radius: 12px;
}

.bankName{
    position: relative;
    width: 80%;
    height: 27px;
    left: 10%;
    right: 10%;
    /* top: 50px; */
    margin-top: 10px;
    margin-bottom: 6px;

    font-family: "Tahoma", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 1.2vw;
    line-height: normal;
    text-align: right;

    color: #FFFFFF;
}

@font-face {
    font-family: 'CoreDodamW01-Light';
    src: url('../fonts/CoreDodamW01-Light.woff2') format('woff2'),
         url('../fonts/CoreDodamW01-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

.cardNumber{

    position: relative;
    width: 100%;
    height: 27px;
    /* left: 10%; */
    /* right: 10%; */
    top: 27px;
    margin-top: 10px;
    margin-bottom: 6px;

    font-family: "CoreDodamW01-Light", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 1.6vw;
    line-height: normal;
    text-align: center  ;
    letter-spacing: 0.05em;

    color: #FFFFFF;
}

.cardDate{

    position: relative;
    width: 100%;
    height: 27px;
    left: 10%;
    /* right: 10%; */
    /* top: 35px; */
    margin-top: 38px;
    margin-bottom: 0;

    font-family: "CoreDodamW01-Light", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 1.2vw;
    line-height: normal;
    text-align: center  ;
    letter-spacing: 0.05em;

    color: #FFFFFF;
}

@font-face {
    font-family: 'Wien Pro Unic Light';
    src: url('../fonts/wien-pro-unic-light.woff2') format('woff2'),
         url('../fonts/wien-pro-unic-light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

.cardHolder{
    position: relative;
    width: 100%;
    height: 27px;
    left: 10%;
    /* right: 10%; */
    /* top: 55px; */
    margin-top: 0;
    margin-bottom: 6px;

    font-family: "Wien Pro Unic Light", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 0.9vw;
    line-height: normal;
    text-align: left;

  
    opacity: .8;
    color: #FFFFFF;
}


.toggleFrame{
    position: relative;
    width: 350px;
    height: 60px;
    top: 80px;
    left: calc(50% - 175px);

    /* background:#2D5B99; */
}

.ordersInfoFrame{
    position: relative;
    width: 100%;
    height: 100%;
    top: 150px;

    float:left;
    
    /* background-color: orange; */
}

.ordersInfoPlate{
    position: absolute;
    width: 100%;
    height: 250px;
    background: #CAEFEC;
    border-radius: 31px;

    float:left;
}

.orderInfo{
    position: relative;
    width: 50%;
    height: 90%;
    top: 5%;
    float:left;

    /* background-color: orange; */
}

.orderInfoTextFrame{
    position: absolute;
    width: 80%;
    height: 80%;
    left: 10%;
    top: 10%;

    /* background-color: #E6F9AF; */

}

.orderInfoTextName{
    position: relative;
    height: 20px;
    top: -20px;

    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: normal;
    color: #340068;
}

.orderInfoTextValue{
    padding-left: 20px;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: normal;
    color: #EF798A;
}

.ordersListFrame{
    position: relative;
    width: 50%;
    top: 5%;

    float:left;

    /* background-color: violet; */
}

.orderFrame{
    position: relative;
    width: 100%;
    height: 50px;
    top: 6%;
    right: 2%;
    margin-top: 5px;

    background: #FFFFFF;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.orderFrame:hover{
    background: #F0F0F0;
}

.orderFrameId{
    position: relative;
    width: 30%;
    height: 15px;
    left: 10px;
    top: 0;
    float:left;

    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: normal;
    text-align: left;
    
    color: #919090;
}

.orderFrameName{
    position: absolute;
    width: 80%;
    height: 100px;
    left: 10px;
    top: -16px;

    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: normal;
    text-align: center;

    color: #340068;
}

.orderFrameStatus {
    position: absolute;
    width: 80%;
    height: 100px;
    left: 10px;
    top: -16px;

    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: normal;
    text-align: right;

    color: #340068;
}

.buttonEdit{
    position: absolute;
    width: 36px;
    height: 36px;
    left: 430px;
    top: -30px;

    background: #4CB5AB;
    border-radius: 100%;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.24), 0 0 0 rgba(0, 0, 0, 0.02);
    opacity: 0;
}
.buttonEdit:hover{
    position: absolute;
    width: 36px;
    height: 36px;
    left: 430px;
    top: -30px;

    background: #4CB5AB;
    border-radius: 100%;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.24), 0 0 0 rgba(0, 0, 0, 0.02);
    opacity: 1;

}

.slide-leave-active,
.slide-enter-active {
    transition: 0.6s;
}
.slide-enter {
    transform: translate(100%, 0);
    opacity: 0;
}
.slide-leave-to {
    transform: translate(-100%, 0);
    opacity: 0;
}

.customer-leave-active,
.customer-enter-active {
    transition: 0.6s;
}
.customer-enter {
    transform: translate(-100%, 0);
    opacity: 0;
}
.customer-leave-to {
    transform: translate(-100%, 0);
    opacity: 0;
}

.courier-leave-active,
.courier-enter-active {
  transition: 0.6s;
}
.courier-enter {
    transform: translate(100%, 0);
    opacity: 0;
  }
.courier-leave-to {
    transform: translate(100%, 0);
    opacity: 0;
}
