
.mainInfoFrame{
    position: relative;
    width: 100%;
    height: 400px;
    /* left: 168px; */
    /* top: 50px; */
    
    display: flex;
    align-items: center;
    justify-content: space-around;

    /* background-color: green; */

}

.avatarShop{
    /* position: absolute; */
    width: 250px;
    height: 250px;
    /* left: 291px; */
    /* top: 120px; */

    background: #E6F9AF;
    border-radius: 10px;
}

.infoShop{
    width: 510px;
    height: 300px;
    
    display: flex;
    flex-direction: column;


    /* background: #E6F9AF; */
}

.frameName{
    width: 100%;
    height: 45px;
    margin: 0px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nameShop{
    /* position: absolute; */
    width: 450px;
    height: 45px;
    
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: normal;

    text-align: center;

    margin: 0px;

    color: #340068;
}

.frameRating{
    width: 100px;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}


.description{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;

    margin: 0px;

    color: #340068;
}

.address{
    /* justify-self: end; */
    
    display: flex;
    align-items: center;

    margin-top: auto;
}

.picFood{
    height: 240px;
    width: 375px;
}

.containerFood{
    display: flex;
}

.frameFood{
    flex: 1;
    display: flex;
    /* justify-content: flex-start; */
    /* flex-wrap: wrap; */
    flex-flow: row wrap;   
    width: 100%;
    height: 100%;
    margin: 0;
    
    overflow: hidden;
}

.cardFood{
    position: relative;
    width: 330px;
    height: 550px;
    margin: 27px;

     flex: 1 1 29%;
    flex-grow: 0;

    border-radius: 40px;

}

.price{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 23px;
    line-height: normal;
    text-align: right;
    padding-right: 20px;
    padding-bottom: 10px;
    margin: 1px;
    color: #7F7F7F;
}