#signUpFrame {
    position: absolute;
    width: 770px;
    height: 940px;
    left: calc(50% - 385px);
    top: 84px;

}

#signUpSubframe {
    position: relative;
    width: 400px;
    height: 940px;
    left: calc(50% - 200px);
    top: 84px;
}

#signupText {
    /* Available Orders */

    position: absolute;
    height: 51px;
    width: 260px;
    left: calc(50% - 130px);
    right: 550px;
    top: 0;

    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: normal;
    text-align: center;

    color: #EF798A;

    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}

.dka-input input:not([type]),
input[type=text]:not(.browser-default), 
input[type=password]:not(.browser-default), 
input[type=email]:not(.browser-default), 
input[type=url]:not(.browser-default), 
input[type=time]:not(.browser-default), 
input[type=date]:not(.browser-default), 
input[type=datetime]:not(.browser-default), 
input[type=datetime-local]:not(.browser-default), 
input[type=tel]:not(.browser-default), 
input[type=number]:not(.browser-default), 
input[type=search]:not(.browser-default), 
textarea.materialize-textarea {

    background: #B1EDE8;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    border: none;

    width: 400px;
    height: 50px;

    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 23px;

    padding-left: 10px;
    margin-top: 10px;
}


.input_placement {
    position: relative;
    left: calc(50% - 200px);
    right: 40%;
    top: 166px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.input_error {

    font-family: Roboto, sans-serif;
    font-style: normal;
    font-size: 20px;
    line-height: normal;
    color: #990000;

    margin-bottom: -15px;
}

.input::placeholder {
    color: rgba(52, 0, 104, 0.7);
}

.dka-input::placeholder {
    color: rgba(52, 0, 104, 0.7);
}

.addressesList {
    background: #B1EDE8;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    border: none;
    width: 400px;
    max-height: 150px;
    overflow-y: scroll;
    display: none;

    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: normal;
}

.addressesList li {
    list-style: none;
    margin: 0 0 0 -40px;
    color: #0896D3;
    border-bottom: 1px #ccc solid;
    cursor: pointer;
    transition: 0.3s;
    padding: 5px 10px 5px 50px;
}

.addressesList li:hover {
    background: #d4e8ff;
}


.signUpCheckbox {
    position: relative;
    width: 380px;
    height: 10px;
    left: calc(50% - 190px);
    margin-top: 300px;
}

.signUpButton {

    position: relative;
    width: 268px;
    height: 56px;
    left: calc(50% - 134px);
    margin-top: 170px;

    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: normal;

    color: #FFFFFF;

    background: #EF798A;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    border: none;

}

.signUpButton:hover {
    background: #D86979;
}

.checkbox {
    position: relative;
    width: 25px;
    height: 25px;
    left: 3%;
    /* top: 20px; */
    margin-top: 5px;

    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: normal;

    color: #340068;
}

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
    border-radius: 4px;
    text-align: center;
    vertical-align: middle;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

/* .upload-btn-wrapper:hover{
    background-color: #bfc1c1;
} */

.btn {
    border: 2px solid gray;
    color: gray;
    background-color: white;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
    padding: 0px;
}

.btn-submit:hover {
    background-color: #bfc1c1;
    border: 2px solid red;
}

.upload-btn-wrapper > .btn{
    display: inline-block;
    width: 200px;
    height: 50px;
    margin-bottom: 20px;
    /* background-color: #bfc1c1; */
}


.upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

.upImg{
  width: 100%;
  height: 100%;

}