.dka-toggle,
.dka-toggler {
  display: inline-block;
  vertical-align: middle;
  margin: 10px;
}

.dka-toggler {
  color: slategray;
  font-family: Roboto, sans-serif;
  font-size: 20px;
  font-style: normal;
    font-weight: bold;
  transition: .2s;
}

.dka-toggler--is-active {
  color: #340068;
}

.dka-b {
  display: block;
}

.dka-toggle {
  width: 100px;
  height: 60px;
  border-radius: 100px;
  background-color: #2ecc71;
  overflow: hidden;
  box-shadow: inset 0 0 2px 1px rgba(0, 0, 0, 0.05);
}

.dka-check {
  position: absolute;
  display: block;
  cursor: pointer;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 6;
}

.dka-check:checked ~ .dka-switch {
  right: 3px;
  left: 44%;
  transition: 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition-property: left, right;
  transition-delay: .08s, 0s;
}

.dka-switch {
  position: relative;
  height: 53px;
  width: 53px;
  left: 3px;
  top: 3px;
  bottom: 2px;
  right: 37.5%;
  background-color: #fff;
  border-radius: 36px;
  z-index: 1;
  transition: 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition-property: left, right;
  transition-delay: 0s, .08s;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  pointer-events: all;
}