{% extends 'food_delivery/food_delivery_base.html' %}
{% load static %}

{% block title %}
    {{ block.super }} User edit
{% endblock %}

{% block page_title %}
    {{ block.super }} User edit
{% endblock %}

{% block external_js_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/toggle.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/signup.css' %}">
    <script id="get_address_url" type="application/json">{"url": "{% url 'get_address_by_address_url' %}"}</script>
    <script src="{% static 'script/address_getter.js' %}" type="text/javascript"></script>
{% endblock %}

{% block content %}
    <form action="{% url 'user_edit_url' %}" method="post">
        {% csrf_token %}
        <div class="mainFrame" id="app">
            <div class="mainInfoFrame">

                <div class="fullnameFrame">
                    <div class="userPicEllipse">
                        <div class="userPicHead"></div>
                        <div class="userPicBody"></div>
                    </div>

                    <div class="fullnameTextFrame">
                        {{ form.first_name }}
                        {{ form.last_name }}
                        {{ form.email }}
                        <p class="telegramLink"></p>
                    </div>
                </div>
                <div class="addressFrame">
                    <p class="addressTitle">Address</p>
                    {{ form.address }}
                    <ul class="addressesList" style="width: 93%; position: relative; left: 10px;"></ul>
                </div>
                <div class="cardFrame">
                    <p class="bankName">
                        <input type="text" style="height: 27px; width: 60%;"
                               name="bank_name" value="Bank"/>
                    </p>
                    <input type="text" class="cardNumber"
                           style="left: 20px; width: 80%; height: 27px; margin: 0; color: black; "
                           name="bankcard_number" value="1234 5678 9098 7654"/>
                    <p class="cardDate">
                        <input style="float:left; width: 20%; height: 22px; margin: 0 0 0 60px;"
                               name="bankcard_expiry_date" type="text" value="12/19"/>
                    </p>
                    <p class="cardHolder">
                        <input style="float:left; width: 80%; height: 22px; margin: 0;" type="text"
                               name="bankcard_holder_name" value="RINAT MULLALA"/>
                    </p>
                </div>
            </div>

            <div class="profile-edit-errors">
                {% for field in form %}
                    {% if field.errors %}
                        <div>
                            {{ field.html_name }}
                            {{ field.errors }}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>

            <button type="submit" class="waves-effect waves-light signUpButton">SUBMIT</button>

        </div>

    </form>
{% endblock %}