{% extends 'food_delivery/food_delivery_base.html' %}
{% load static %}


{% block external_js_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/signup.css' %}">
    <script id="get_address_url" type="application/json">{"url": "{% url 'get_address_by_address_url' %}"}</script>
    <script src="{% static 'script/address_getter.js' %}" type="text/javascript"></script>
{% endblock %}

{% block title %}
    {{ block.super }} Sign user
{% endblock %}

{% block page_title %}
    {{ block.super }} Sign user
{% endblock %}


{% block content %}
    <div id="signUpFrame">
        <div id="signUpSubframe">
            <p id="signupText">Sign Up</p>
            <form action="{% url 'user_create_url' %}" method="post">
                {% csrf_token %}

                {% for field in form %}
                    {% if field.html_name != 'address' %}
                        <div>
                            {% if field.errors %}
                                <div class='input_placement input_error'>
                                    {{ field.errors }}
                                </div>
                            {% endif %}

                            {{ field }}
                        </div>
                    {% endif %}
                {% endfor %}

                <div>
                    {% if form.address.errors %}
                        <div>
                            {{ form.address.errors }}
                        </div>
                    {% endif %}
                    {{ form.address }}
                    <ul class="addressesList input_placement"></ul>
                </div>

                <button type="submit" class="waves-effect waves-light signUpButton">SUBMIT</button>
            </form>

        </div>
    </div>
{% endblock %}