{% extends 'food_delivery/food_delivery_base.html' %}
{% load static %}

{% block external_js_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/signup.css' %}">
{% endblock %}

{% block title %}
    {{ block.super }} Login
{% endblock %}

{% block page_title %}
    {{ block.super }} Login
{% endblock %}

{% block content %}
    <div id="authFrame">
        <div class="authText authHeader">
            Auth
        </div>

        <div class="authPaintFrame">
            <div class="authPaintEllipse">
                <div id="authPaintHead">
                    <div id="authPaintBody">
                    </div>
                </div>
            </div>
        </div>
        <form action="{% url 'user_login_url' %}" method="post">
            {% csrf_token %}

            {% for field in form %}
                <div>
                    {% if field.errors %}
                        <div>
                            {{ field.errors }}
                        </div>
                    {% endif %}

                    {{ field }}
                </div>
            {% endfor %}

            <div class="authButtonWrapper">
                <button type="submit" class="waves-effect waves-light authButton">Sign in</button>
            </div>


        </form>
        <a href="{% url 'user_create_url' %}" class="authSignUpLink">Create an Account?</a>
    </div>

{% endblock %}