{% extends 'food_delivery/food_delivery_base.html' %}
{% load static %}

{% block title %}
    {{ block.super }} Profile
{% endblock %}

{% block page_title %}
    {{ block.super }} Profile
{% endblock %}

{% block external_js_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/toggle.css' %}">

{% endblock %}

{% block content %}
    <div class="mainFrame" id="app">
        <div class="mainInfoFrame">

            <div class="fullnameFrame">
                <div class="userPicEllipse">
                    <div class="userPicHead"></div>
                    <div class="userPicBody"></div>
                </div>

                <div class="fullnameTextFrame">
                    <p class="fullnameText">{{ user }}</p>
                    <p class="emailText">{{ user.email }}</p>
                    <p class="telegramLink"></p>
                </div>
            </div>
            <div class="addressFrame">
                <p class="addressTitle">Address</p>
                <p class="addressText">{{ user.address.city }}</p>
                <p class="addressText">{{ user.address.street }}</p>
                <p class="addressText">{{ user.address.building }}</p>
            </div>
            <div class="cardFrame">
                <p class="bankName">Tinkoff</p>
                <p class="cardNumber">1234 5678 9098 7654</p>
                <p class="cardDate">12/19</p>
                <p class="cardHolder">RINAT MULLALA</p>
            </div>
        </div>
        <div class="toggleFrame">
            <label class="dka-toggler dka-toggler--is-active" id="dka-filt-css">Customer</label>
            <div class="dka-toggle">
                <input type="checkbox" id="dka-switcher" class="dka-check" v-on:click="dkaSwitcher()">
                <b class="dka-b dka-switch"></b>
            </div>
            <label class="dka-toggler" id="dka-filt-javascript">Courier</label>
        </div>
        <div class="ordersInfoFrame">
            <transition name="customer">
                <div class="ordersInfoPlate" v-if="customer" style="float: left;">
                    <div class="orderInfo">
                        <div class="orderInfoTextFrame">
                            <p class="orderInfoTextName">Rating:<a class="orderInfoTextValue">Soon</a></p>
                            <p class="orderInfoTextName">Reviews:<a class="orderInfoTextValue">Soon</a></p>
                            <p class="orderInfoTextName">Orders:<a
                                    class="orderInfoTextValue">{{ orders_made_amount }}</a>
                            </p>
                            <p class="orderInfoTextName">Orders in progress:<a
                                    class="orderInfoTextValue">{{ orders_delivered_amount }}</a></p>
                        </div>
                    </div>
                    <div class="ordersListFrame">
                        {% for order in orders_made %}
                            <div class="orderFrame">
                                <p class="orderFrameId">#{{ order.orderID }}</p>
                                <p class="orderFrameStatus">{{ order.get_status_display }}</p>
                                <p class="orderFrameName">{{ order.store_address }}</p>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </transition>

            <transition name="courier">
                <div class="ordersInfoPlate" v-if="courier">
                    <div class="orderInfo">
                        <div class="orderInfoTextFrame">
                            <p class="orderInfoTextName">Rating:<a class="orderInfoTextValue">Soon</a></p>
                            <p class="orderInfoTextName">Reviews:<a class="orderInfoTextValue">Soon</a></p>
                            <p class="orderInfoTextName">Orders:<a
                                    class="orderInfoTextValue">{{ orders_delivered_amount }}</a>
                            </p>
                            <p class="orderInfoTextName">Orders in progress:<a
                                    class="orderInfoTextValue">{{ orders_delivered_amount }}</a></p>
                        </div>
                    </div>
                    <div class="ordersListFrame">
                        {% for order in orders_delivered %}
                            <div class="orderFrame">
                                <p class="orderFrameId">#{{ order.orderID }}</p>
                                <p class="orderFrameStatus">{{ order.get_status_display }}</p>
                                <p class="orderFrameName">{{ order.destination_address }}</p>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </transition>
        </div>
    </div>



    <script src="https://unpkg.com/vue"></script>
    <script src="{% static 'script/profile.vue' %}"></script>
    <script>
        const e = document.getElementById("dka-filt-css"),
            d = document.getElementById("dka-filt-javascript"),
            t = document.getElementById("dka-switcher");

        e.addEventListener("click", function () {
            t.checked = false;
            e.classList.add("dka-toggler--is-active");
            d.classList.remove("dka-toggler--is-active");
        });

        d.addEventListener("click", function () {
            t.checked = true;
            d.classList.add("dka-toggler--is-active");
            e.classList.remove("dka-toggler--is-active");
        });

        t.addEventListener("click", function () {
            d.classList.toggle("dka-toggler--is-active");
            e.classList.toggle("dka-toggler--is-active");
        })
    </script>


{% endblock %}