<!-- {% load static %} -->
<!DOCTYPE html>
<html lang="ru">

  <head>
    <title>
        <!-- {% block title %} -->
            Delivery Club -
        <!-- {% endblock %} -->
    </title>
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}"> -->
    <link rel="stylesheet" type="text/css" href="../static/css/signup.css">
    <link rel="stylesheet" type="text/css" href="../static/css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

      <!-- {% block external_js_css %}
    {% endblock %} -->
  </head>

  <body>
    <div class="header">
        <a href="{% url 'main_page_url' %}"><p class="logo">
            <!-- {% block page_title %} -->
            DoubleMaxDelivery |
            <!-- {% endblock %} -->
        </p></a>
        <!-- {% if not request.user.is_authenticated %} -->
            <a href="{% url 'user_create_url' %}"><p class="signIn headerText">Sign up</p></a>
            <a href="{% url 'user_login_url' %}"><p class="signUp headerText">Sign in</p></a>
        <!-- {% else %} -->
            <a href="{% url 'orders_view_url' %}"><p class="deliver headerText">🚀Deliver</p></a>
            <a href="{% url 'user_profile_url' %}"><p class="profile headerText">Profile</p></a>
        <!-- {% endif %} -->

        <form action="{% url 'order_create_url' %}">
            <button type="submit" class="createOrderButton headerText">Create Order</button>
        </form>
    </div>
    <div id="signUpFrame">
            <div id="signUpSubframe">
                <p id="signupText">Create store</p>
                <form enctype="multipart/form-data" action="{% url 'store_create_url' %}" method="post">
                    <!-- {% csrf_token %} -->
    
                    <!-- {% for field in general_form %} -->
                    
                        <!-- Макс, вот этот див надо вставить -->
                        <div class="dka-input">
                            <div class="upload-btn-wrapper">
                                <button class="btn">Upload an image</button>
                                <input type="file" name="myfile" name="store_thumbnail" placeholder="store name" accept="image/*" required="" id="id_store_thumbnail" />
                            </div>
                        </div>

                    <!-- {% endfor %} -->
    
                </form>
    
            </div>
        </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <script>
      $(document).ready(function(){
        $('.sidenav').sidenav();
        $('.materialboxed').materialbox();
        $('.parallax').parallax();
        $('.tabs').tabs();
      });
    </script>
  </body>
</html>