<!DOCTYPE html>
<html>
<head>
    <title>Delivery Club</title>
    <link rel="stylesheet" type="text/css" href="../assets/css/main.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/profile.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/toggle.css">
    <meta name="viewport" content="width=device-width">
    <style>
        html {
            overflow: hidden;
        }
    </style>
<body>
<div class="header">
    <a href="{% url 'main_page_url' %}">
        <p class="logo">
            <!-- {% block page_title %} -->
                DoubleMaxDelivery |
                <!-- {% endblock %} -->
        </p></a>
    <!-- {% if not request.user.is_authenticated %} -->
        <a href="{% url 'user_create_url' %}"><p class="signIn headerText">Sign up</p></a>
        <!-- <a href="{% url 'user_login_url' %}"><p class="signUp headerText">Sign in</p></a> -->
        <!-- {% else %} -->
        <a href="{% url 'orders_view_url' %}"><p class="deliver headerText">Deliver</p></a>
        <!-- {% endif %} -->

    <button class="createOrderButton"><a href="{% url 'order_create_url' %}" class="headerText text-shadow-dark">Create
        Order</a></button>
</div>
<div class="mainFrame" id="app">
    <div class="mainInfoFrame">

        <div class="fullnameFrame">
            <div class="userPicEllipse">
                <div class="userPicHead"></div>
                <div class="userPicBody"></div>
            </div>

            <div class="fullnameTextFrame">
                <p class="fullnameText">{{ user }}</p>
                <p class="emailText">{{ user.email }}</p>
                <p class="telegramLink"></p>
            </div>
        </div>
        <div class="addressFrame">
            <p class="addressTitle">Address</p>
            <p class="addressText">{{ user.address.city }}</p>
            <p class="addressText">{{ user.address.street }}</p>
            <p class="addressText">{{ user.address.building }}</p>
        </div>
        <div class="cardFrame">
            <p class="bankName">Tinkoff</p>
            <p class="cardNumber">1234 5678 9098 7654</p>
            <p class="cardDate">12/19</p>
            <p class="cardHolder">RINAT MULLALA</p>
        </div>
        
    </div>
       
    </div>
</div>



<script src="https://unpkg.com/vue"></script>
<script src="{% static 'script/profile.vue' %}"></script>
<script>
    const e = document.getElementById("dka-filt-css"),
        d = document.getElementById("dka-filt-javascript"),
        t = document.getElementById("dka-switcher");

    e.addEventListener("click", function () {
        t.checked = false;
        e.classList.add("dka-toggler--is-active");
        d.classList.remove("dka-toggler--is-active");
    });

    d.addEventListener("click", function () {
        t.checked = true;
        d.classList.add("dka-toggler--is-active");
        e.classList.remove("dka-toggler--is-active");
    });

    t.addEventListener("click", function () {
        d.classList.toggle("dka-toggler--is-active");
        e.classList.toggle("dka-toggler--is-active");
    })
</script>
</body>
</html>
