{% load static %}


{% block title %}
    Main page
{% endblock %}

{% block page_title %}
    Main page
{% endblock %}

{% block external_js_css %}

{% endblock %}

{% block content %}
    <div class="mainFrame">
        <div class="mainBlock">
            <div class="picMain"></div>
            <div class="sloganFrame">
                <p class="slogan">Доставь нужный продукт за вознаграждение.</p>
                <p class="slogan2">Мы объединяем покупателей и исполнителей заказов.</p>
                <div class="buttonsFrame">
                    <a class=" waves-effect waves-light deliverButton deliverText">DELIVER</a>
                    <a class="waves-effect waves-light createOrderButton2 createOrderButton2Text">Create Order</a>
                </div>
                <p class="linkTutorial"><a href="#tutorial">How it works</a></p>
            </div>
        </div>
        <div class="tutorialFrame" id="tutorial">
            <h1 style="text-align: center; color: #274c77; font-weight: bold;">how ДоставьКа works</h1>
            <div class="tabBlock">
                <div class="row">
                    <div class="col s12 l6 offset-l2 ">
                        <ul class="tabs ">
                            <li class="tab col s6">
                                <a href="#photography" class="active indigo-text text-darken-4" style="font-size: 20px">Customer</a>
                            </li>
                            <li class="tab col s6">
                                <a href="#editing" class="indigo-text text-darken-4" style="font-size: 20px">Courier</a>
                            </li>
                        </ul>
                        <div id="photography" class="col s12">
                            <p class="flow-text indigo-text text-darken-4" style="text-align: center;">How to be a
                                Customer</p>
                            <div class="stepCard">
                                <div class="numCard"><h2 style="margin: 20%;">1</h2></div>
                                <div class="textCard"><p style="color: #274c77; font-size: 125% ">Register on our
                                    website
                                    and enter all the required data</p></div>
                            </div>
                            <div class="stepCard">
                                <div class="numCard"><h2 style="margin: 20%;">2</h2></div>
                                <div class="textCard"><p style="color: #274c77; font-size: 125% ">Click the Create order
                                    button in the upper right corner. Specify in which store/restaurant you want to
                                    order.
                                    Write what you want to order. Specify the reward that is ready to give to the
                                    Courier.
                                    And other required fields.</p></div>
                            </div>
                            <div class="stepCard">
                                <div class="numCard"><h2 style="vertical-align:middle; text-align: center">3</h2></div>
                                <div class="textCard"><p style="color: #274c77; font-size: 125% ">Courier will not
                                    contact
                                    you and agree on the delivery time</p></div>
                            </div>
                            <div class="stepCard">
                                <div class="numCard"><h2 style="margin: 20%;">4</h2></div>
                                <div class="textCard"><p style="color: #274c77; font-size: 125% ">Pay the cost of goods,
                                    the
                                    money will be frozen on your account</p></div>
                            </div>
                            <div class="stepCard">
                                <div class="numCard"><h2 style="margin: 20%;">5</h2></div>
                                <div class="textCard"><p style="color: #274c77; font-size: 125% ">As soon as the courier
                                    delivers your order, you must confirm the order and leave feedback to the courier.
                                    Immediately the money for the goods will be written off from your account.</p></div>
                            </div>
                        </div>
                        <div id="editing" class="col s12">
                            <p class="flow-text indigo-text text-darken-4" style="text-align: center;">How to be a
                                Courier</p>
                            <div class="stepCard">
                                <div class="numCard"><h2 style="margin: 20%;">1</h2></div>
                                <div class="textCard"><p style="color: #274c77; font-size: 125% ">Register on our
                                    website
                                    and enter all the required data</p></div>
                            </div>
                            <div class="stepCard">
                                <div class="numCard"><h2 style="margin: 20%;">2</h2></div>
                                <div class="textCard"><p style="color: #274c77; font-size: 125% ">Click on the
                                    '🚀Deliver'
                                    button and select the appropriate order from the list.</p></div>
                            </div>
                            <div class="stepCard">
                                <div class="numCard"><h2 style="margin: 20%;">3</h2></div>
                                <div class="textCard"><p style="color: #274c77; font-size: 125% ">Go to the store or
                                    restaurant specified in the order. Buy what you need with your money. Deliver the
                                    goods
                                    to the specified address. As soon as the buyer confirms the goods, you will return
                                    your
                                    money along with the reward.s</p></div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}