<!DOCTYPE html>
<html>
  <head>
    <title>Delivery Club</title>
      <link rel="stylesheet" type="text/css" href="../assets/css/main.css">
      <link rel="stylesheet" type="text/css" href="../assets/css/orders.css">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <body>
      <div class="header">
          <a href="{% url 'main_page_url' %}">
            <p class="logo">
              <!-- {% block page_title %} -->
              DoubleMaxDelivery |
              <!-- {% endblock %} -->
            </p></a>
          <!-- {% if not request.user.is_authenticated %} -->
              <a href="{% url 'user_create_url' %}"><p class="signIn headerText">Sign up</p></a>
              <!-- <a href="{% url 'user_login_url' %}"><p class="signUp headerText">Sign in</p></a> -->
          <!-- {% else %} -->
              <a href="{% url 'orders_view_url' %}"><p class="deliver headerText">🚀Deliver</p></a>
          <!-- {% endif %} -->
  
          <button class = "createOrderButton"><a href="{% url 'order_create_url' %}" class="headerText text-shadow-dark">Create Order</a></button>
      </div>
  <div id = "app">
  <div class="avaibleOrdersFrame">
    <p class="avaibleOrdersText">Available Orders</p>
    <div class="avaibleOrdersListFrame">
      <div class="availableOrder" v-bind:style="{ height: computedHeight }" v-on:click="viewOrder">
        <div class="availableOrderText">
          <p class="availableOrderId">#28499</p>
          <p class="availableOrderName">Галина бланка</p>
        </div>
        <div class="availableOrderShortcutsFrame">
          <div class="shortcutElement">
            <div class="shortcutImgShop"></div>
            <p class="shortcutInfo">5km</p>
          </div>
          <div class="shortcutElement">
            <div class="shortcutImgMap"></div>
            <p class="shortcutInfo">13km</p>
          </div>
          <div class="shortcutElement">
            <div class="shortcutImgMoney"></div>
            <p class="shortcutInfo">228p</p>
          </div>
        </div>
        <div class="detailInfoFrame" v-if="opened">
          <div class="leftInfoFrame">
            <div class="infoLineFrame">
              <p class="infoLineTitle">Customer:<a class="infoLineValue">Rinat Mullala</a></p>
              <p class="infoLineDetail">rating: 69%</p>
            </div>
            <div class="infoLineFrame">
              <p class="infoLineTitle">Shop:<a class="infoLineValue">"Пятёрочка</a></p>
              <p class="infoLineDetail">address: “ул. Спортивная, дом 24”</p>
            </div>
            <div class="infoLineFrame">
              <p class="infoLineTitle">Destination: <a class="infoLineValue"></a></p>
              <p class="infoLineDetail">address: “ул. Университетская, дом 24”</p>
            </div>
            <div class="infoLineFrame" style=" height: 15%">
              <p class="infoLineTitle">Profit:<a class="infoProfitValue">125p</a></p>
            </div>
          </div>
          <div class="divideLine"></div>
          <div class="rightInfoFrame">
            <div class="tableFrame">
              <div class="tableRowFrame">
                <div class="columnNameFrame"><p class="columnTitle">Name</p></div>
                <div class="columnQuantityFrame"><p class="columnTitle">Quantity</p></div>
                <div class="columnPriceFrame"><p class="columnTitle">Price</p></div>
              </div>
              <div class="tableRowFrame">
                <div class="columnNameFrame"><p class="columnValue">Socks</p></div>
                <div class="columnQuantityFrame"><p class="columnValue">3</p></div>
                <div class="columnPriceFrame"><p class="columnValue">15p</p></div>
              </div>
            </div>
          </div>
          <div class="plusButton">
            <a  style="color: #EF798A" class="btn-floating btn-large waves-effect waves-light red lighten-1"><i class="material-icons">add</i></a>
          </div>
        </div>
      </div>
      <div class="availableOrder">
          <div class="availableOrderText">
              <p class="availableOrderId">#1488</p>
              <p class="availableOrderName">Туалетная бумага Zewa</p>
            </div>
            <div class="availableOrderShortcutsFrame">
              <div class="shortcutElement">
                <div class="shortcutImgShop"></div>
                <p class="shortcutInfo">1km</p>
              </div>
              <div class="shortcutElement">
                <div class="shortcutImgMap"></div>
                <p class="shortcutInfo">2km</p>
              </div>
              <div class="shortcutElement">
                <div class="shortcutImgMoney"></div>
                <p class="shortcutInfo">6p</p>
              </div>
            </div>
      </div>
    </div>
  </div>
</div>
  <script src="https://unpkg.com/vue"></script>
      <script src="../assets/script/orders.js"></script>
      <!-- Compiled and minified JavaScript -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </body>
</html>