{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset='utf-8'>
    <title>
        {% block title %}
            Delivery Club -
        {% endblock %}
    </title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    {% block external_js_css %}
    {% endblock %}
</head>

<body>
<div class="">
    <nav>
        <div class="nav-wrapper header">
            <a href="{% url 'main_page_url' %}" class="brand-logo dka-ml-1">
                {% block page_title %}
                    Dostav'ka |
                {% endblock %}
            </a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                {% if not request.user.is_authenticated %}
                    <li><a class="headerText" href="{% url 'user_create_url' %}">Sign up</a></li>
                    <li><a class="headerText" href="{% url 'user_login_url' %}">Sign in</a></li>
                {% else %}
                    <li><a class="headerText" href="{% url 'stores_view_url' %}">Catalog</a></li>
                    <li><a class="headerText" href="{% url 'orders_view_url' %}">🚀Deliver</a></li>
                    <li><a class="dropdown-trigger headerText" data-target="dropdown1" href="#">Profile<i
                            class="material-icons right">arrow_drop_down</i></a></li>
                    <li><a class="waves-effect waves-light createOrderButton headerText"
                           href="{% url 'order_create_url' %}"
                           style="line-height: 40px;">Create Order</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <ul id="dropdown1" class="dropdown-content">
        <li><a href="{% url 'user_profile_url' %}" class="red-text text-lighten-2">View</a></li>
        <li><a href="{% url 'user_edit_url' %}" class="red-text text-lighten-2">Edit</a></li>
        <li><a href="{% url 'user_logout_url' %}" class="headerText">Log out</a></li>
        <li class="divider"></li>
        {% if request.user.is_store_admin %}
            <li><a href="{% url 'store_manage_url' %}" class="red-text text-lighten-2">Shop Manage</a></li>
        {% endif %}
    </ul>


</div>
{% block content %}
    There is no any content yet
{% endblock %}


<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
<script>
    $(document).ready(function () {
        $('.sidenav').sidenav();
        $('.materialboxed').materialbox();
        $('.parallax').parallax();
        $('.tabs').tabs();
    });
</script>
<script>
    $('.dropdown-trigger').dropdown({});
</script>

</body>
</html>