<!DOCTYPE html>
<html>
<head>
    <title>Delivery Club</title>
    <link rel="stylesheet" type="text/css" href="../assets/css/main.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/profile.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/toggle.css">
    <meta name="viewport" content="width=device-width">
    <style>
        html {
            overflow: hidden;
        }
    </style>
<body>
<div class="header">
    <a href="{% url 'main_page_url' %}">
        <p class="logo">
            <!-- {% block page_title %} -->
                DoubleMaxDelivery |
                <!-- {% endblock %} -->
        </p></a>
    <!-- {% if not request.user.is_authenticated %} -->
        <a href="{% url 'user_create_url' %}"><p class="signIn headerText">Sign up</p></a>
        <!-- <a href="{% url 'user_login_url' %}"><p class="signUp headerText">Sign in</p></a> -->
        <!-- {% else %} -->
        <a href="{% url 'orders_view_url' %}"><p class="deliver headerText">Deliver</p></a>
        <!-- {% endif %} -->

    <button class="createOrderButton"><a href="{% url 'order_create_url' %}" class="headerText text-shadow-dark">Create
        Order</a></button>
</div>
<div class="mainFrame" id="app">
    <div class="mainInfoFrame">

        <div class="fullnameFrame">
            <div class="userPicEllipse">
                <div class="userPicHead"></div>
                <div class="userPicBody"></div>
                <div class="buttonEdit">
                    <svg width="24" height="24" left="5px" top="5" viewBox="0 0 24 24" fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                        <g id="icon/content/create_24px">
                            <path id="icon/content/create_24px_2" fill-rule="evenodd" clip-rule="evenodd"
                                  d="M18.3688 3.29L20.7088 5.63C21.0988 6.02 21.0988 6.65 20.7088 7.04L18.8788 8.87L15.1288 5.12L16.9588 3.29C17.1488 3.1 17.3988 3 17.6588 3C17.9188 3 18.1688 3.09 18.3688 3.29ZM2.99878 17.25V21H6.74878L17.8088 9.94L14.0588 6.19L2.99878 17.25ZM5.91878 19H4.99878V18.08L14.0588 9.02L14.9788 9.94L5.91878 19Z"
                                  fill="white"/>
                        </g>
                    </svg>
                </div>
            </div>

            <div class="fullnameTextFrame">
                <p class="fullnameText">Rinal Mullala</p>
                <p class="emailText">ya.sosu@chleni.ru</p>
                <p class="telegramLink">t.me/MuLlaLla</p>
            </div>
        </div>
        <div class="addressFrame">
            <p class="addressTitle">Address</p>
            <p class="addressText">Innopolis</p>
            <p class="addressText">Universitetskaya st.</p>
            <p class="addressText">house 1/4</p>
            <p class="addressText">room 411</p>

        </div>
        <div class="cardFrame">
            <p class="bankName">Tinkoff</p>
            <p class="cardNumber">1234 5678 9098 7654</p>
            <p class="cardDate">12/19</p>
            <p class="cardHolder">RINAT MULLALA</p>
        </div>
    </div>
    <div class="toggleFrame">
        <label class="dka-toggler dka-toggler--is-active" id="filt-css">Customer</label>
        <div class="dka-toggle">
            <input type="checkbox" id="switcher" class="dka-check" v-on:click="switcher()">
            <b class="dka-b dka-switch"></b></div>
        <label class="dka-toggler" id="filt-javascript">Courier</label>
    </div>
    <div class="ordersInfoFrame">
        <transition name="customer">
            <div class="ordersInfoPlate" v-if="customer">
                <div class="orderInfo">
                    <div class="orderInfoTextFrame">
                        <p class="orderInfoTextName">Rating:<a class="orderInfoTextValue">97</a>%</p>
                        <p class="orderInfoTextName">Reviews:<a class="orderInfoTextValue">6</a></p>
                        <p class="orderInfoTextName">Orders:<a class="orderInfoTextValue">6</a></p>
                        <p class="orderInfoTextName">Orders in progress:<a class="orderInfoTextValue">2</a></p>
                    </div>
                </div>
                <div class="ordersListFrame">
                    <div class="orderFrame">
                        <p class="orderFrameId">#1488</p>
                        <p class="orderFrameName">Thongs</p>
                    </div>
                    <div class="orderFrame">
                        <p class="orderFrameId">#1488</p>
                        <p class="orderFrameName">Thongs</p>
                    </div>
                </div>
            </div>
        </transition>

        <transition name="courier">
            <div class="ordersInfoPlate" v-if="courier">
                <div class="orderInfo">
                    <div class="orderInfoTextFrame">
                        <p class="orderInfoTextName">Rating:<a class="orderInfoTextValue">2800</a>%</p>
                        <p class="orderInfoTextName">Reviews:<a class="orderInfoTextValue">6</a></p>
                        <p class="orderInfoTextName">Orders:<a class="orderInfoTextValue">6</a></p>
                        <p class="orderInfoTextName">Orders in progress:<a class="orderInfoTextValue">2</a></p>
                    </div>
                </div>
                <div class="ordersListFrame">
                    <div class="orderFrame">
                        <p class="orderFrameId">#1488</p>
                        <p class="orderFrameName">Thongs</p>
                    </div>
                    <div class="orderFrame">
                        <p class="orderFrameId">#1488</p>
                        <p class="orderFrameName">Thongs</p>
                    </div>
                </div>
            </div>
        </transition>

    </div>
</div>


<script src="https://unpkg.com/vue"></script>
<script src="../static/script/profile.vue"></script>
<script>
    var e = document.getElementById("filt-css"),
        d = document.getElementById("filt-javascript"),
        t = document.getElementById("switcher");

    e.addEventListener("click", function () {
        t.checked = false;
        e.classList.add("toggler--is-active");
        d.classList.remove("toggler--is-active");
    });

    d.addEventListener("click", function () {
        t.checked = true;
        d.classList.add("toggler--is-active");
        e.classList.remove("toggler--is-active");
    });

    t.addEventListener("click", function () {
        d.classList.toggle("toggler--is-active");
        e.classList.toggle("toggler--is-active");
    })
</script>
</body>
</html>
