<!-- {% load static %} -->
<!DOCTYPE html>
<html lang="ru">

  <head>
    <title>
        <!-- {% block title %} -->
            Delivery Club -
        <!-- {% endblock %} -->
    </title>
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}"> -->
    <link rel="stylesheet" type="text/css" href="../static/css/main.css">
    <link rel="stylesheet" type="text/css" href="../static/css/restaurant.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

      <!-- {% block external_js_css %}
    {% endblock %} -->
  </head>

  <body>
    <div class="header">
            <nav>
                    <div class="nav-wrapper header">
                      <a href="#!" class="brand-logo">
                         <!-- {% block page_title %} --> 
                        Dostav'ka
                             <!-- {% endblock %} -->
                    </a>
                      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                      <ul class="right hide-on-med-and-down">
                      <!-- {% if not request.user.is_authenticated %} -->    
                        <li><a class="headerText" href="{% url 'user_create_url' %}">Sign up</a></li>
                        <li><a class="headerText" href="{% url 'user_login_url' %}">Sign in</a></li>
                      <!-- {% else %} -->
                        <li><a class="headerText" href="collapsible.html">Catalog</a></li>
                        <li><a class="headerText" href="{% url 'orders_view_url' %}">🚀Deliver</a></li>
                      <!-- {% endif %} -->
                        <li><a class="dropdown-trigger headerText" data-target="dropdown1" href="#">Profile<i class="material-icons right">arrow_drop_down</i></a></li>
                        <li><a class="waves-effect waves-light createOrderButton headerText" href="{% url 'order_create_url' %}" style="line-height: 40px;">Create Order</a></li>
                      </ul>
                    </div>
            </nav>

                  <ul id="dropdown1" class="dropdown-content">
                        <li><a href="#!">View</a></li>
                        <li><a href="#!">Edit</a></li>
                        <li class="divider"></li>
                        <li><a href="#!">Shop Manage</a></li>
                      </ul>
                
                      <ul class="sidenav" id="mobile-demo">
                            <li><a class="headerText" href="{% url 'user_create_url' %}">Sign up</a></li>
                        <li><a class="headerText" href="{% url 'user_login_url' %}">Sign in</a></li>
                      <!-- {% else %} -->
                        <li><a class="headerText" href="collapsible.html">Catalog</a></li>
                        <li><a class="headerText" href="{% url 'orders_view_url' %}">Deliver</a></li>
                          </ul>
                                  

    </div>
    <div class="mainFrame">
        <div class="mainInfoFrame">
            <div class="avatarShop"></div>
            <div class="infoShop">
              <div class="frameName">
                <p class="nameShop">Casio & Vino</p>
               <div class=frameRating> <p class="nameShop" >4<i class="small material-icons" style="font-size:45px; padding-bottom: 2px; color: gold;">star</i></p></div>
              </div>
                <li class="divider" style="background-color: #340068;" tabindex="1"></li>
                <p class="description" style="font-size: 20px;">Какое-то описание этого ресторана, чтобы людей привлечь и сразу пояснить чего они тут могут отожрать и приобрести</p>
                <p class="description address" ><i class=" small material-icons">location_on</i> ул. Спортивна, дом 29</p>
            </div>
        </div>
        <div class="containerFood">
        <div class="frameFood">
            <div class="cardFood">
                <div class="card hoverable" style="border-radius: 40px;">
                  <div class="card-image" style="border-radius: 40px;">
                    <img class="picFood" src="../static/img/sample-pasta-2.jpg" style="border-top-right-radius: 40px; border-top-left-radius: 40px;">
                    
                    <a class="btn-floating halfway-fab waves-effect waves-light" style="background-color: #EF798A "><i class="material-icons">add</i></a>
                  </div>
                  <div class="card-content">
                    <span class="card-title">Pasta La Florence</span>  
                    <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                  </div>
                  <p class="price">222p</p>
                </div>
              </div>
          
              <div class="cardFood">
                  <div class="card hoverable" style="border-radius: 40px;">
                    <div class="card-image" style="border-radius: 40px;">
                      <img class="picFood" src="../static/img/sample-pasta-2.jpg" style="border-top-right-radius: 40px; border-top-left-radius: 40px;">
                      
                      <a class="btn-floating halfway-fab waves-effect waves-light" style="background-color: #EF798A "><i class="material-icons">add</i></a>
                    </div>
                    <div class="card-content">
                      <span class="card-title">Pasta La Florence</span>  
                      <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                    </div>
                    <p class="price">222p</p>
                  </div>
                </div>
              
                <div class="cardFood">
                    <div class="card hoverable" style="border-radius: 40px;">
                      <div class="card-image" style="border-radius: 40px;">
                        <img class="picFood" src="../static/img/sample-pasta-2.jpg" style="border-top-right-radius: 40px; border-top-left-radius: 40px;">
                        
                        <a class="btn-floating halfway-fab waves-effect waves-light" style="background-color: #EF798A "><i class="material-icons">add</i></a>
                      </div>
                      <div class="card-content">
                        <span class="card-title">Pasta La Florence</span>  
                        <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                      </div>
                      <p class="price">222p</p>
                    </div>
                  </div>
                
                


          <div class="cardFood">
                <div class="card hoverable" style="border-radius: 40px;">
                  <div class="card-image" style="border-radius: 40px;">
                    <img class="picFood" src="../static/img/sample-pasta-2.jpg" style="border-top-right-radius: 40px; border-top-left-radius: 40px;">
                    
                    <a class="btn-floating halfway-fab waves-effect waves-light" style="background-color: #EF798A "><i class="material-icons">add</i></a>
                  </div>
                  <div class="card-content">
                    <span class="card-title">Pasta La Florence</span>  
                    <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                  </div>
                  <p class="price">222p</p>
                </div>
              </div>
               
        </div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <script>
      $(document).ready(function(){
        $('.sidenav').sidenav();
        $('.materialboxed').materialbox();
        $('.parallax').parallax();
        $('.tabs').tabs();
      });
    </script>
    <script>
         $('.dropdown-trigger').dropdown({
  
    });
    </script>
  </body>
</html>